extends layout

block body
  .issue
    h4
      a(href="#") Enlarging issue size
    p.timestamp 2012.11.01
    p.nb-comments 3 comments
  .issue
    h4
      a(href="#") Enlarging issue size
    p.timestamp 2012.11.01
    p.nb-comments 3 comments
  .issue
    h4
      a(href="#") Enlarging issue size
    p.timestamp 2012.11.01
    p.nb-comments 3 comments
