body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF
  text-decoration none

.news-item
  margin 10px
  padding 0px 19px 15px
  border 1px solid #ddd
  border-radius 4px
  .timestamp
    margin-top -32px
  .article-content
    font-size 12px

.issue
  margin 15px 0
  border 1px solid #ddd
  border-radius 4px
  > a
    display block
    padding 9px 19px 2px
    color black
  h4
    margin 0
    margin-right 70px
    clear both
    color: #00B7FF
  p
    font-size 12px

.issue-page
  margin 15px 0
  padding 0px 0px 9px
  border 1px solid #ddd
  border-radius 4px
  font-size 12px
  h4
    margin-top 10px
    padding-left 10px
    font-size 14px
  .issue-title
    color: #00B7FF
  .user
    padding 3px 5px 2px
    color #666
  .issue-message
    clear both
  .message-body
    padding 6px 10px 6px
  .tock
    border-style solid
    border-width 1px 0 1px 0
    border-color #ddd
    background #fafafa
  .timestamp
    margin-right 4px

.timestamp
  float right
  margin-top -15px
  font-size 11px !important
  color #777
.date
  color #444
  font-weight bold


